/* Right aling nav bar items */
.navbar-collapse {
    flex-grow: 0;
}

/* Nav toggle */
.navbar-toggler {
background-color: #148DD9;
    border: none;
}
.navbar-toggler:hover {
    background-color: #50C4F2;
    border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus:hover {
    box-shadow: none;
    border: none;
}

/* Base button override */
.btn {
    border: none;
    color: #000000;
}

/* Hover state */
.btn:hover {
    background-color: #50C4F2;
    color: #000000;
    border: none;
}

/* Active when clicked*/
.btn:active,
.btn:active:hover {
    background-color: #148DD9;
    color: #000;
    transform: translateY(1px);
}

/* Active page button */
.btn.active {
    background-color: #148DD9;
    color: #000000;
    border: none;
}

/* Outline-success buttons*/
.btn-outline-success {
    color: #000000;
    border: none;
}

/* Dropdown open state */
.btn.show {
    background-color: #50C4F2;
    color: #000000;
    border: none;
}

/* Dropdown item select */
.dropdown-item:active {
    background-color: #50C4F2;
    color: #000000;
}
.dropdown-item:hover {
    background-color: #50c4f288;
    color: #000000;
}

body {
    font-size: 18px;
}

/* Hero section */
.hero-section {
    position: relative;
    width: 100%;
    height: 980px;
}

#carouselExampleCaptions {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#carouselExampleCaptions .carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

#carouselExampleCaptions .carousel-item {
    height: 100%; /* Ensure carousel item takes full height */
}

#carouselExampleCaptions .carousel-item img {
    object-fit: cover; /* Maintain aspect ratio and fill the container */
    width: 100%; /* Stretch to full width */
    height: 100%; /* Stretch to full height */
}

/* Optional: Adjust for smaller screens */
@media (max-width: 768px) {
    .hero-section {
        height: 400px; /* Adjust height for mobile */
    }
    #carouselExampleCaptions .carousel-item img {
        object-position: center; /* Ensure image is centered in the container */
    }
    .carousel-caption {
        bottom: 10px; /* Move caption higher for mobile */
        font-size: 14px; /* Smaller font size for mobile */
    }

    .carousel-caption h1 {
        font-size: 18px; /* Adjust title size */
    }

    .carousel-caption p {
        font-size: 12px; /* Adjust paragraph size */
    }
}


